  /*$$$$$  /$$$$$$$  /$$$$$$  /$$$$$$  /$$   /$$
 /$$__  $$| $$__  $$|_  $$_/ /$$__  $$| $$$ | $$
| $$  \ $$| $$  \ $$  | $$  | $$  \ $$| $$$$| $$
| $$  | $$| $$$$$$$/  | $$  | $$  | $$| $$ $$ $$
| $$  | $$| $$__  $$  | $$  | $$  | $$| $$  $$$$
| $$  | $$| $$  \ $$  | $$  | $$  | $$| $$\  $$$
|  $$$$$$/| $$  | $$ /$$$$$$|  $$$$$$/| $$ \  $$
 \______/ |__/  |__/|______/ \______/ |__/  \__/

 /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$      /$$ /$$$$$$$$ /$$      /$$  /$$$$$$  /$$$$$$$  /$$   /$$
| $$_____/| $$__  $$ /$$__  $$| $$$    /$$$| $$_____/| $$  /$ | $$ /$$__  $$| $$__  $$| $$  /$$/
| $$      | $$  \ $$| $$  \ $$| $$$$  /$$$$| $$      | $$ /$$$| $$| $$  \ $$| $$  \ $$| $$ /$$/ 
| $$$$$   | $$$$$$$/| $$$$$$$$| $$ $$/$$ $$| $$$$$   | $$/$$ $$ $$| $$  | $$| $$$$$$$/| $$$$$/  
| $$__/   | $$__  $$| $$__  $$| $$  $$$| $$| $$__/   | $$$$_  $$$$| $$  | $$| $$__  $$| $$  $$  
| $$      | $$  \ $$| $$  | $$| $$\  $ | $$| $$      | $$$/ \  $$$| $$  | $$| $$  \ $$| $$\  $$ 
| $$      | $$  | $$| $$  | $$| $$ \/  | $$| $$$$$$$$| $$/   \  $$|  $$$$$$/| $$  | $$| $$ \  $$
|__/      |__/  |__/|__/  |__/|__/     |__/|________/|__/     \__/ \______/ |__/  |__/|__/  \_*/

/* ASCII FONT: Big Money-ne - https://manytools.org/hacker-tools/ascii-banner */
@font-face { font-family: Name; src: url('Data/Fonts/Name.ttf'); }
@font-face { font-family: Main; src: url('Data/Fonts/Main.ttf'); }
@font-face { font-family: Special; src: url('Data/Fonts/Special.ttf'); }

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background: var(--menu);
  color: var(--textPrimary);
  font-family: Main;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /*THEME*/
  --menu: #202225;
  --background: #2F3136;
  --scrollbar: #202225;
  /*HOVER & SHADOWS*/
  --hover: rgba(87, 87, 87, 0.15);
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; /*SMALL SHADOW*/
  --shadow2: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(126, 126, 126, 0.2) 0px 0px 0px 1px; /*BIG SHADOW*/
  /*COLORS*/
  --accent: #ce2353;
  --success: #00d12d;
  --danger: #C70039;
  --warning: #e9ab00;
  --progress: #C7C9CA;
  /*TEXT*/
  --textTitleBar: #72767D;
  --textPrimary: #f5f5f5;
  --textSecondary: #C7C9CA;
  /*MAIN BUTTON*/
  --button: #202225;
  --buttonBorderColor: transparent;
  --buttonBorderWidth: 0;
  --buttonCorner: 10px;
  /*TITLE BAR BUTTONS*/
  --topText: #f5f5f5;
  --topHover: #2a2e33;
  --topExitHover: #ED4245;
  /*MODULE*/
  --module: #2F3136;
  --moduleFilter: brightness(0) invert(1); /*https://angel-rs.github.io/css-color-filter-generator/*/
  --moduleCorner: 10px;
  /*RADIO*/
  --radio: #f5f5f5;
  /*SWITCH*/
  --switchUnchecked: #f5f5f5;
  --switchChecked: #f5f5f5;
}

body {
  height: 100%; 
  width: 100%;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
}

::selection {
  background: var(--accent);
}





  /*$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$  /$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$   /$$$$$$ 
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__//$$__  $$|_  $$_/| $$$ | $$| $$_____/| $$__  $$ /$$__  $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$  | $$  \ $$  | $$  | $$$$| $$| $$      | $$  \ $$| $$  \__/
| $$      | $$  | $$| $$ $$ $$   | $$  | $$$$$$$$  | $$  | $$ $$ $$| $$$$$   | $$$$$$$/|  $$$$$$ 
| $$      | $$  | $$| $$  $$$$   | $$  | $$__  $$  | $$  | $$  $$$$| $$__/   | $$__  $$ \____  $$
| $$    $$| $$  | $$| $$\  $$$   | $$  | $$  | $$  | $$  | $$\  $$$| $$      | $$  \ $$ /$$  \ $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$  | $$  | $$ /$$$$$$| $$ \  $$| $$$$$$$$| $$  | $$|  $$$$$$/
 \______/  \______/ |__/  \__/   |__/  |__/  |__/|______/|__/  \__/|________/|__/  |__/ \_____*/

/*HORIZONTAL CONTAINER*/
.hc {
  display: flex;
  flex-direction: row;
}

/*VERTICAL CONTAINER*/
.vc {
  display: flex;
  flex-direction: column;
}





  /*$$$$$   /$$$$$$  /$$$$$$$   /$$$$$$  /$$       /$$       /$$$$$$$   /$$$$$$  /$$$$$$$ 
 /$$__  $$ /$$__  $$| $$__  $$ /$$__  $$| $$      | $$      | $$__  $$ /$$__  $$| $$__  $$
| $$  \__/| $$  \__/| $$  \ $$| $$  \ $$| $$      | $$      | $$  \ $$| $$  \ $$| $$  \ $$
|  $$$$$$ | $$      | $$$$$$$/| $$  | $$| $$      | $$      | $$$$$$$ | $$$$$$$$| $$$$$$$/
 \____  $$| $$      | $$__  $$| $$  | $$| $$      | $$      | $$__  $$| $$__  $$| $$__  $$
 /$$  \ $$| $$    $$| $$  \ $$| $$  | $$| $$      | $$      | $$  \ $$| $$  | $$| $$  \ $$
|  $$$$$$/|  $$$$$$/| $$  | $$|  $$$$$$/| $$$$$$$$| $$$$$$$$| $$$$$$$/| $$  | $$| $$  | $$
 \______/  \______/ |__/  |__/ \______/ |________/|________/|_______/ |__/  |__/|__/  |_*/

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 7px;
  border: solid 4px transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  border: solid 3px transparent;
}

.scrollbar-invisible::-webkit-scrollbar {
  width: 0;
  height: 0;
}





/*$$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$$ /$$$$$$  /$$   /$$  /$$$$$$ 
| $$__  $$| $$  | $$|__  $$__/|__  $$__//$$__  $$| $$$ | $$ /$$__  $$
| $$  \ $$| $$  | $$   | $$      | $$  | $$  \ $$| $$$$| $$| $$  \__/
| $$$$$$$ | $$  | $$   | $$      | $$  | $$  | $$| $$ $$ $$|  $$$$$$ 
| $$__  $$| $$  | $$   | $$      | $$  | $$  | $$| $$  $$$$ \____  $$
| $$  \ $$| $$  | $$   | $$      | $$  | $$  | $$| $$\  $$$ /$$  \ $$
| $$$$$$$/|  $$$$$$/   | $$      | $$  |  $$$$$$/| $$ \  $$|  $$$$$$/
|_______/  \______/    |__/      |__/   \______/ |__/  \__/ \_____*/

/*DEFAULT BUTTON*/
.button {
  color: var(--textPrimary);
  fill: var(--textPrimary);
  border-radius: var(--buttonCorner);
  overflow: hidden;
  position: relative;
  transition: all .2s;
  cursor: pointer;
}

.button::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transition: all .2s;
  border-radius: var(--buttonCorner);
}

.button::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transition: all .2s;
  border-radius: var(--buttonCorner);
  border: var(--buttonBorderWidth) solid var(--buttonBorderColor);
  box-sizing: border-box;
}

/*TYPE ATTRIBUTE*/
.button[btype=fill], .button:not([btype]) {
  --style-fill: var(--button);
  background: var(--style-fill);
}

.button[btype=border] {
  --style-border: var(--button);
  background: transparent;
}

.button[btype=border]::before {
  border: 3px solid var(--style-border);
  background-clip: content-box;
}

.button[btype=ghost] {
  background: transparent;
  border: none;
}

/*COLOR ATTRIBUTE*/
.button[color=accent][btype=fill], .button[color=accent]:not([btype]) {
  --style-fill: var(--accent);
}

.button[color=success][btype=fill], .button[color=success]:not([btype]) {
  --style-fill: var(--success);
}

.button[color=danger][btype=fill], .button[color=danger]:not([btype]) {
  --style-fill: var(--danger);
}

.button[color=warning][btype=fill], .button[color=warning]:not([btype]) {
  --style-fill: var(--warning);
}

.button[color=accent][btype=border] {
  --style-border: var(--accent);
}

.button[color=success][btype=border] {
  --style-border: var(--success);
}

.button[color=danger][btype=border] {
  --style-border: var(--danger);
}

.button[color=warning][btype=border] {
  --style-border: var(--warning);
}

/*HOVER ATTRIBUTE*/
.button[hover*=def]:hover::after, .button:not([hover]):hover::after {
  background: var(--hover);
}

.button[hover*=float]:hover {
  transform: translateY(-3px);
}

.button[hover*=sink]:hover {
  transform: translateY(3px);
}

/*STATE ATTRIBUTE*/
.button[cursor=click]:hover {
  cursor: pointer;
}

.button[cursor=load]:hover {
  cursor: progress;
}

.button[cursor=auto]:hover {
  cursor: auto;
}





/*$$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$$ /$$$$$$  /$$   /$$       /$$$$$$$$ /$$       /$$$$$$$$ /$$      /$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$ 
| $$__  $$| $$  | $$|__  $$__/|__  $$__//$$__  $$| $$$ | $$      | $$_____/| $$      | $$_____/| $$$    /$$$| $$_____/| $$$ | $$|__  $$__//$$__  $$
| $$  \ $$| $$  | $$   | $$      | $$  | $$  \ $$| $$$$| $$      | $$      | $$      | $$      | $$$$  /$$$$| $$      | $$$$| $$   | $$  | $$  \__/
| $$$$$$$ | $$  | $$   | $$      | $$  | $$  | $$| $$ $$ $$      | $$$$$   | $$      | $$$$$   | $$ $$/$$ $$| $$$$$   | $$ $$ $$   | $$  |  $$$$$$ 
| $$__  $$| $$  | $$   | $$      | $$  | $$  | $$| $$  $$$$      | $$__/   | $$      | $$__/   | $$  $$$| $$| $$__/   | $$  $$$$   | $$   \____  $$
| $$  \ $$| $$  | $$   | $$      | $$  | $$  | $$| $$\  $$$      | $$      | $$      | $$      | $$\  $ | $$| $$      | $$\  $$$   | $$   /$$  \ $$
| $$$$$$$/|  $$$$$$/   | $$      | $$  |  $$$$$$/| $$ \  $$      | $$$$$$$$| $$$$$$$$| $$$$$$$$| $$ \/  | $$| $$$$$$$$| $$ \  $$   | $$  |  $$$$$$/
|_______/  \______/    |__/      |__/   \______/ |__/  \__/      |________/|________/|________/|__/     |__/|________/|__/  \__/   |__/   \_____*/

/*TEXT*/
.text {
  width: fit-content;
  height: 40px;
  min-height: 40px;
  font-size: 15px;
  line-height: 40px;
  padding: 0 10px;
  align-items: center;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*EMOTE*/
.emote {
  min-width: 40px;
  min-height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  font-family: Arial, Monospaced;
  text-shadow: var(--shadow);
}

/*SVG*/
.svg {
  min-width: 26px;
  max-width: 26px;
  min-height: 26px;
  max-height: 26px;
  margin: 7px;
}

/*INPUT*/
.input {
  min-height: 40px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 40px;
  font-family: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.input::placeholder {
  color: var(--textSecondary);
}

.input:focus {
  outline: none;
}

/*RADIO BUTTON*/
.radio {
  width: 30px;
  height: 30px;
  margin: 5px 0;
  position: relative;
  border-radius: 15px;
}

.radio::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transition: all .2s;
  border-radius: 15px;
  border: var(--buttonBorderWidth) solid var(--buttonBorderColor);
  box-sizing: border-box;
}

.radio input {
  width: inherit;
  height: inherit;
  margin: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.radio div {
  width: 10px;
  height: 10px;
  margin: 10px;
  opacity: 0;
  background: var(--radio);
  border-radius: 5px;
  pointer-events: none;
  transition: all .2s;
}

.radio input:checked ~ div {
  opacity: 1;
}

/*SWITCH*/
.switch {
  width: 50px;
  height: 30px;
  margin: 5px 0;
  position: relative;
  border-radius: 15px;
}

.switch::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transition: all .2s;
  border-radius: 15px;
  border: var(--buttonBorderWidth) solid var(--buttonBorderColor);
  box-sizing: border-box;
}

.switch input {
  width: inherit;
  height: inherit;
  margin: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.switch div {
  width: 10px;
  height: 10px;
  margin: 10px;
  background: var(--switchUnchecked); 
  border-radius: 50%;
  pointer-events: none;
  transition: all .2s;
}

.switch input:checked ~ div {
  transform: translateX(200%);
  background: var(--switchChecked);
}

/*CUSTOM SWITCH*/
.switch-custom {
  width: 80px;
  height: 40px;
  display: flex;
  position: relative;
  transition: all .2s;
}

.switch-custom input {
  width: inherit;
  height: inherit;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.switch-custom div:nth-of-type(1) {
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  margin: 5px;
  background: var(--switchUnchecked);
  border-radius: inherit;
  position: relative;
  transition: all .2s;
}

.switch-custom input:checked ~ div:nth-of-type(1) {
  transform: translateX(calc(100% + 10px));
}

.switch-custom div {
  width: 50%;
  height: inherit;
  position: absolute;
  pointer-events: none;
}

.switch-custom div:nth-of-type(3) {
  width: 50%;
  height: inherit;
  pointer-events: none;
  transform: translateX(100%);
}





  /*$$$$$   /$$$$$$  /$$   /$$ /$$$$$$$$ /$$$$$$$$ /$$   /$$ /$$$$$$$$       /$$      /$$ /$$$$$$$$ /$$   /$$ /$$   /$$
 /$$__  $$ /$$__  $$| $$$ | $$|__  $$__/| $$_____/| $$  / $$|__  $$__/      | $$$    /$$$| $$_____/| $$$ | $$| $$  | $$
| $$  \__/| $$  \ $$| $$$$| $$   | $$   | $$      |  $$/ $$/   | $$         | $$$$  /$$$$| $$      | $$$$| $$| $$  | $$
| $$      | $$  | $$| $$ $$ $$   | $$   | $$$$$    \  $$$$/    | $$         | $$ $$/$$ $$| $$$$$   | $$ $$ $$| $$  | $$
| $$      | $$  | $$| $$  $$$$   | $$   | $$__/     >$$  $$    | $$         | $$  $$$| $$| $$__/   | $$  $$$$| $$  | $$
| $$    $$| $$  | $$| $$\  $$$   | $$   | $$       /$$/\  $$   | $$         | $$\  $ | $$| $$      | $$\  $$$| $$  | $$
|  $$$$$$/|  $$$$$$/| $$ \  $$   | $$   | $$$$$$$$| $$  \ $$   | $$         | $$ \/  | $$| $$$$$$$$| $$ \  $$|  $$$$$$/
 \______/  \______/ |__/  \__/   |__/   |________/|__/  |__/   |__/         |__/     |__/|________/|__/  \__/ \_____*/

.ctx-menu {
  width: 200px;
  padding: 10px 0;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 69420;
  visibility: hidden;
  outline: var(--buttonBorderWidth) solid var(--buttonBorderColor);
  outline-offset: calc(-1 * var(--buttonBorderWidth));
  background: var(--button);
  border-radius: var(--buttonCorner);
  box-shadow: var(--shadow);
}

.ctx-item {
  width: 170px;
  padding: 5px 15px;
  font-size: 15px;
  line-height: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: var(--button);
  color: var(--textPrimary);
  fill: var(--textPrimary);
  transition: all .2s, visibility 0s;
  position: relative;
}

.ctx-item::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  transition: all .2s;
  box-sizing: border-box;
}

.ctx-item:hover::after {
  background: var(--hover);
}





  /*$$$$$  /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$ 
 /$$__  $$|__  $$__/| $$  | $$| $$_____/| $$__  $$
| $$  \ $$   | $$   | $$  | $$| $$      | $$  \ $$
| $$  | $$   | $$   | $$$$$$$$| $$$$$   | $$$$$$$/
| $$  | $$   | $$   | $$__  $$| $$__/   | $$__  $$
| $$  | $$   | $$   | $$  | $$| $$      | $$  \ $$
|  $$$$$$/   | $$   | $$  | $$| $$$$$$$$| $$  | $$
 \______/    |__/   |__/  |__/|________/|__/  |_*/

.seekbar {
  height: 12px;
  -webkit-appearance: none;
  background: var(--button);
  border-radius: 6px;
}

.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  border: solid 9px var(--textPrimary);
  background-clip: content-box;
  cursor: pointer;
  transition: all .2s;
}

.seekbar::-webkit-slider-thumb:hover {
  border: solid 4px var(--textPrimary);
}

/*TITLE BAR BUTTONS*/
.button-top {
  width: 30px; 
  height: 20px; 
  line-height: 20px;
  font-size: 12px; 
  text-align: center;
  font-family: Arial, Monospaced;
  background: transparent;
  color: var(--topText);
  overflow: hidden;
  transition: all .2s, width 0s;
  cursor: pointer;
}

.button-top:hover {
  background: var(--topHover);
}

.button-exit:hover {
  background: var(--topExitHover);
}

/*MODULE*/
.module {
  width: 60px;
  height: 60px;
  color: var(--textPrimary);
  position: relative;
}

.module div:nth-of-type(2) {
  width: inherit;
  height: inherit;
  transition: all .2s;
  background: transparent;
  border-radius: var(--moduleCorner);
}

.module div:nth-of-type(2) img {
  width: 26px;
  height: 26px;
  margin: 17px;
  filter: var(--moduleFilter);
  pointer-events: none;
  object-fit: contain;
}

.module div:nth-of-type(1) {
  width: min-content;
  height: fit-content;
  margin-top: 5px;
  padding: 5px;
  opacity: 0;
  z-index: 999;
  font-size: 14px;
  position: absolute;
  background: var(--module);
  color: inherit;
  border-radius: var(--moduleCorner);
  box-shadow: var(--shadow);
  pointer-events: none;
  transition: all 0s;
  transition-delay: 0s;
}

.module input {
  width: 60px;
  height: 60px;
  margin: 0;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.module input:checked ~ div:nth-of-type(2) {
  background: var(--module);
  box-shadow: var(--shadow);
}

.module input:hover ~ div:nth-of-type(2) {
  background: var(--module);
  box-shadow: var(--shadow);
}

.module input:hover ~ div:nth-of-type(1) {
  opacity: 1;
  transition: all .2s;
  transition-delay: 1s;
}

/*GLOW ANIMATION*/
.glow {
  background-image: linear-gradient(90deg, transparent 0%, transparent 40%, rgba(238, 238, 238, 0.616) 50%,
    rgba(238, 238, 238, 0.616) 55%, transparent 65%, transparent 100%);
  background-size: 300%;
  animation: glow 1s infinite;
}

@keyframes glow {
  from { background-position: 100% 100%; }
  to   { background-position: 0 0; }
}